antlr4-python3-runtime==4.8
cffi==1.14.5
Cython==0.29.23
dataclasses==0.6
fairseq==0.10.2
hydra-core==1.0.6
importlib-resources==5.1.4
numpy==1.20.3
omegaconf==2.0.6
portalocker==2.0.0
pycparser==2.20
PyYAML==5.4.1
regex==2021.4.4
sacrebleu==1.5.1
torch==1.8.1
tqdm==4.61.0
typing-extensions==3.10.0.0
zipp==3.4.1
